.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;

  & > div {
    flex: 1;

    & > div {

      background: var(--gray-700);
      border-radius: 8px;
      padding: 1rem;

      header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & > div {
          strong {
            display: block;
            font-size: 0.875rem;
          }

          time {
            display: block;
            font-size: 0.75rem;
            color: var(--gray-400);
          }
        }

        button {
          background: transparent;
          border: 0;
          color: var(--gray-400);
          cursor: pointer;
          line-height: 0;
          border-radius: 2px;

          &:hover {
            color: var(--red-danger);
          }
        }
      }

      & > p {
        margin-top: 1rem;
        color: var(--gray-300);
      }
    }

    & > footer {
      margin-top: 1rem;

      button {
        background: transparent;
        color: var(--gray-400);
        border: 0;
        cursor: pointer;
        border-radius: 2px;

        display: flex;
        align-items: center;

        &:hover {
          color: var(--green-light);
        }

        svg {
          margin-right: 0.5rem;
        }

        span {
          &::before{
            content: "\2022";
            padding-inline: 0.25rem;
          }
        }
      }

    }
  }
}