.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;

  & > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    & > div {
      display: flex;
      align-items: center;
      gap: 1rem;

      strong {
        display: block;
        color: var(--gray-100);
      }

      span {
        display: block;
        font-size: 0.875rem;
        color: var(--gray-400);
      }
    }

    time {
      font-size: 0.875rem;
      color: var(--gray-400);
    }
  }


  & > div {
    color: var(--gray-300);
    margin-top: 1.5rem;

    p {
      margin-top: 1rem;
    }

    a {
      font-weight: bold;
      color: var(--green);
      text-decoration: none;

      &:hover {
        color: var(--green-light);
      }
    }
  }

  form {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);

    & > strong {
      color: var(--gray-100);
    }

    textarea {
      width: 100%;
      border: 0;
      resize: none;
      height: 6rem;
      padding: 1rem;
      border-radius: 8px;
      color: var(--gray-100);
      line-height: 1.4;
      background: var(--gray-900);
      margin-top: 1rem;
    }

    &:focus-within {
      footer {
        visibility: visible;
        max-height: none;
      }
    }

    footer {
      visibility: hidden;
      max-height: 0;

      
      button[type=submit] {
        padding: 1rem 1.5rem;
        margin-top: 1rem;
        border-radius: 8px;
        border: 0;
        background: var(--green);
        color: var(--white);
        font-weight: bold;
        cursor: pointer;
        
        transition: backgroud-color 0.1s;
        
        &:not(:disabled):hover {
          background-color: var(--green-light);
        }

        &:disabled {
          opacity: .7;
          cursor: not-allowed;
        }
      }
    }
  }

  form + div {
    margin-top: 2rem;
  }

  & + .post {
    margin-top: 2rem;
  }
}