:root {
  --white: #ffffff;
  --gray-100: #E1E1E6;
  --gray-300: #C4C4CC;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green: #00875f;
  --green-light: #00b37e;

  --font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font: 400 1rem/1.6 var(--font-family);
}
